@use "../../styles/partials/variables" as *; 

.question{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(194, 194, 194);
    padding: 1.6rem 1.6rem 2rem 1.6rem;

    &__title{
        font-size: 2rem;
        color: $text;
    }

    &__container{
        display: flex;
        gap: 1rem;
    }

    &__answer{
        font-size: 1.3rem;
        border: 1px solid $btnBorder;
        padding: .5rem;
        border-radius: 8px;
        color: $text;
        font-weight: 800;
        cursor: pointer;
    }

    &__selected{
        background-color: $selected;
    }

    &__disabled{
        background-color: $selected;
    }

   
}

